.banner {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
}

.banner h1 {
    margin-left: 80px;
}

.banner h3 {
    margin-right: 80px;
}
