.banner {
  position: fixed;
  display: flex;
  height: 800px;
  margin-inline: auto;
  margin-top: 125px;
  width: 80%;
}

.corps {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}