.exposition {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  width: 100%; 
  user-select: none;

}

.corpsProduits {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* background-color: pink; */
}

.containerStyles {
  width: 450px;
  height: fit-content;
  margin: 0 auto;
}

.sliderStyle {
  display: flex;
flex-direction: column;
  justify-content: center;
  height: fit-content;
  position: relative;
}

.defilement {
  display: flex;
  justify-content: center;
  user-select: none;
}

.slideStyle {
  width: 60%;
  height: 650px;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
    background-size: contain;
}

.leftArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -82px;
  font-size: 145px;
  z-index: 1;
  cursor: pointer;
}

.rightArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -82px;
  font-size: 145px;
  z-index: 1;
  cursor: pointer;
}

.etiquette {
  margin-top: 25px;
  display : flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.etiquette h3, button{
  margin-top: 10px;
}



.dotContainerStyle {
  display: flex;
  justify-content: center;
}

.dotStyle {
margin: 0 3px;
cursor: pointer;
font-size: 20px;
}

.link {
  margin-top: 60px;
  width: 90%;  
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}

.linkSize {
  display: flex;
  width: 40%;
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.votrePanier {
  width: 20%;
}