.exposition {
  
  top: 110px;
  display: flex;
  
  justify-content: center;
  /* align-items: top; */
  /* height: 800px; */
  margin-inline: auto;
  width: 100%;
}

.corpsProduits {
  display: flex;
  flex-direction: column;
  height : 850px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.link {
  margin-top: 60px;
  width: 90%;  
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.linkSize {
  display: flex;
  width: 40%;
  height: 100px;
  background-color: blue;
  border-radius: 10px;
  font-size: 35px;
  justify-content: center;
  align-items: center;

}

.commandes {
  width: 20%;
}