.home {
    display: flex;
    height: fit-content;
    flex-direction: column;
    overflow: hidden;
    color: white;
  }

  .banner {
    height: 110px;
    display: flex;
    flex-direction: column;
}

.main {
    top: 100px;
    display: flex;
    justify-content: space-between;
    margin-inline: 35px;
    width: 95%;
  }

  .footer {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    bottom: 0;
    height: 290px;
}