.main {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: space-between;
  margin-inline: 35px;
  width: 95%;
}

.navigation {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  padding-left: 100px;
  padding-top: 115px;
}

.corps {
  display: flex;
  width: 60%;
  height: auto;
  justify-content: center;
}

.corps img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto auto;
}

.commandes {
  width: 20%;
}