.main {
  position: fixed;
  top: 110px;
  display: flex;
  
  justify-content: center;
  /* align-items: top; */
  /* height: 800px; */
  margin-inline: auto;
  width: 100%;
  background-color: antiquewhite;
}

.corps {
  display: flex;
 width: 60%;
  justify-content: center;
  margin-top: 100px;
}

.corps img {
  width: 65%;
}

.commandes {
  width: 20%;
  background-color: cadetblue;
}