.main {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
}

.corps {
  display: flex;
  width: 60%;
  justify-content: center;
}

.corps img {
  width: 90%;
}

.commandes {
  width: 20%;
}