.modale {
display: flex;
position: fixed;
z-index: 3;
opacity: 0.95;
top: 135px;
left: 20%;
width: 60%;
height: 75%;
background-color: rgb(199, 193, 193);
border-radius: 25px;
border: solid 1px grey;
padding: 5px;
font-weight: 600;
}

.modale p {
    color: black;
    text-align: justify;
}