.resumeDuPanier {
    position: fixed;
    top: 135px;
    right: 25px;
    padding:15px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(34, 34, 34);
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.votrePanier .produitSurLaListe button {
   margin-top: 7px;
}

.votrePanier button{
    margin-top: 55px
}

.totalDeMesAchats {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}